* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #A9EDDA;
}

.bear {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-120%, -50%);
    width: 100px;
    height: 200px;
}


#face {
    border: 1px solid #a17856;
    width: 215px;
    height: 200px;
    border-radius: 50%;
    background-color: #a17856;
    position: relative;
    z-index: 3;
}

.ears {
    border: 1px solid #a17856;
    position: absolute;
    top:0px;
    width: 65px;
    height: 70px;
    border-radius: 50%;
    background-color: #a17856;
}
#ear1 {
}

#ear2 {
    left: 148px;
}
.inner-ear {
    border: 1px solid #EFA8C5;
    width:50px;
    height: 55px;
    border-radius: 50%;
    background-color: #EFA8C5;
    position: absolute;
    z-index: 1;
    top:8px;
    left:7px;
}

#nose {
    border: 1px solid #edbdd1;
    width:55px;
    height: 50px;
    border-radius: 50%;
    background-color: #edbdd1;
    position: absolute;
    z-index: 1;
    top:60%;
    left:77px;
}

#nose-inner1 {
    border: 1px solid black;
    border-radius: 50%;
    width: 15px;
    height:7px;
    background-color: #000;
    position:absolute;
    top: 6px;
    left: 18px;
}

#nose-inner2 {
    border: 1px solid black;
    height: 10px;
    background-color: #000;
    position: absolute;
    top: 13px;
    left:25px;
}

#nose-inner3 {
    border: 1px solid #87e2c8;
    width:30px;
    height: 20px;
    border-radius:40%;
    background-color: #87e2c8;
    position: absolute;
    top: 21px;
    left:11px;
}

#nose-inner4 {
    border: 1px solid rgb(246, 113, 135);
    width:10px;
    height: 10px;
    border-radius:50%;
    background-color: rgb(246, 113, 135);
    position: absolute;
    top: 5px;
    left:9px;
}

#nose-inner5 {
    border: 2px solid rgb(246, 113, 135);
    width:12px;
    height: 12px;
    border-radius:50%;
    position: absolute;
    top: 2px;
    left: -2px;
}

.eyes {
    border: 1px solid #000;
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 55%;
}

#eye1 {
    left: 63px;
}

#eye2 {
    left: 138px
}

